# 核心依赖
fastapi==0.136.0
uvicorn[standard]==0.44.0
llama-index==0.14.21
llama-index-embeddings-huggingface==0.7.0
llama-index-llms-dashscope==0.6.1
llama-index-vector-stores-chroma==0.5.5
chromadb==1.5.7
python-dotenv==1.2.2

# 嵌入模型依赖
sentence-transformers==5.4.0
torch==2.11.0

# 工具库
tqdm==4.67.3
beautifulsoup4==4.14.3
lxml==6.1.0
